<header class="npc-sheet-header flexrow" style="height:256px;width:256px;">
    <img class="npc-profile-img" src="{{actor.img}}" data-edit="img" height="256" width="256" />
</header>
<form class="npc-sheet limited" autocomplete="off">
</form>