<form>
  <div class="flexrow">
    <div class="flexcol">
        <b>{{question}}</b>
        <input name="quantity" type="text" value="{{default_amount}}" min="{{mincount}}" max="{{maxcount}}" data-dtype="Number" />
  </div>
</form>